this.phases ||= {}
this.phases.modes ||= {}

this.phases.modes.design =
  init: ->
    phases.provider.fixIds()
    phases.modes.active = 'design'
    iframe = document.createElement 'iframe'
    iframe.src = 'about:blank'
    $(iframe).css 'min-height', "500px"
    iframe.style
    $('#canvas').html iframe
    (iframe.contentDocument || iframe.contentWindow.document).write """
      <html>
        <head>
          <link rel="stylesheet" type="text/css" href="<%= asset_path "phases-designer.css" %>" />
          <script type="text/javascript" src="<%= LiquidPhases.config.ckeditor_path %>/ckeditor.js"></script>
          <script type="text/javascript" src="<%= asset_path "phases-designer.js" %>"></script>
        </head>
        <body>#{ phases.provider.getCode() }</body>
      </html>
      """
    iframe.contentDocument.close()
