this.phases ||= {}
this.phases.modes ||= {}

this.phases.modes.design =
  init: ->
    phases.modes.active = 'design'
    iframe = document.createElement 'iframe'
    iframe.src = 'about:blank'
    $('#canvas').html iframe
    iframe.contentDocument.write """
      <html>
        <head>
          <link rel="stylesheet" type="text/css" href="<%= asset_path "phases-designer.css" %>?#{new Date}" />
          <script type="text/javascript" src="<%= asset_path "phases-designer.js" %>"></script>
        </head>
        <body>#{ phases.provider.getCode() }</body>
      </html>
      """
    iframe.contentDocument.close()
